/* 1. IMPORTACIÓN DE FUENTE: Traemos los pesos 800 (ExtraBold) y 900 (Black) */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 253, 252, 246;
}

body {
  /* 2. FONDO Y FUENTE BASE */
  background-color: #ffff; /* El color crema de tu diseño */
  color: #111111;            /* Texto casi negro */
  font-family: 'Inter', sans-serif;
  
  /* Suavizado de fuente para que se vea nítida en pantallas modernas */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 3. FORZADO DE ESTILO "BLOQUE" PARA TÍTULOS */
/* Esto hace que cualquier h1, h2, etc. se vea grueso y apretado automáticamente */
h1, h2, h3, h4, h5, h6 {
  font-weight: 900;       /* Black (El más grueso) */
  letter-spacing: -0.04em; /* Tracking negativo (letras pegaditas) */
  color: black;
}

/* Opcional: Color de selección amarillo (como tus puntos) */
::selection {
  background-color: #FACC15; /* yellow-400 */
  color: black;
}